# Unsupervised Lab Session

## Learning outcomes:
- Exploratory data analysis and data preparation for model building.
- PCA for dimensionality reduction.
- K-means and Agglomerative Clustering

## Problem Statement
Based on the given marketing campigan dataset, segment the similar customers into suitable clusters. Analyze the clusters and provide your insights to help the organization promote their business.

## Context:
- Customer Personality Analysis is a detailed analysis of a company’s ideal customers. It helps a business to better understand its customers and makes it easier for them to modify products according to the specific needs, behaviors and concerns of different types of customers.
- Customer personality analysis helps a business to modify its product based on its target customers from different types of customer segments. For example, instead of spending money to market a new product to every customer in the company’s database, a company can analyze which customer segment is most likely to buy the product and then market the product only on that particular segment.

## About dataset
- Source: https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis?datasetId=1546318&sortBy=voteCount

### Attribute Information:
- ID: Customer's unique identifier
- Year_Birth: Customer's birth year
- Education: Customer's education level
- Marital_Status: Customer's marital status
- Income: Customer's yearly household income
- Kidhome: Number of children in customer's household
- Teenhome: Number of teenagers in customer's household
- Dt_Customer: Date of customer's enrollment with the company
- Recency: Number of days since customer's last purchase
- Complain: 1 if the customer complained in the last 2 years, 0 otherwise
- MntWines: Amount spent on wine in last 2 years
- MntFruits: Amount spent on fruits in last 2 years
- MntMeatProducts: Amount spent on meat in last 2 years
- MntFishProducts: Amount spent on fish in last 2 years
- MntSweetProducts: Amount spent on sweets in last 2 years
- MntGoldProds: Amount spent on gold in last 2 years
- NumDealsPurchases: Number of purchases made with a discount
- AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise
- AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise
- AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise
- AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise
- AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise
- Response: 1 if customer accepted the offer in the last campaign, 0 otherwise
- NumWebPurchases: Number of purchases made through the company’s website
- NumCatalogPurchases: Number of purchases made using a catalogue
- NumStorePurchases: Number of purchases made directly in stores
- NumWebVisitsMonth: Number of visits to company’s website in the last month

### 1. Import required libraries

In [72]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, accuracy_score, auc, roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

### 2. Load the CSV file (i.e marketing.csv) and display the first 5 rows of the dataframe. Check the shape and info of the dataset.

In [2]:
data = pd.read_csv('marketing.csv')

In [3]:
data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/2012,58,635,...,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/2014,38,11,...,1,2,5,0,0,0,0,0,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,2,10,4,0,0,0,0,0,0,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/2014,26,11,...,0,4,6,0,0,0,0,0,0,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,3,6,5,0,0,0,0,0,0,0

### 3. Check the percentage of missing values? If there is presence of missing values, treat them accordingly.

In [4]:
data.isnull().sum()/len(data)*100

ID                     0.000000
Year_Birth             0.000000
Education              0.000000
Marital_Status         0.000000
Income                 1.071429
Kidhome                0.000000
Teenhome               0.000000
Dt_Customer            0.000000
Recency                0.000000
MntWines               0.000000
MntFruits              0.000000
MntMeatProducts        0.000000
MntFishProducts        0.000000
MntSweetProducts       0.000000
MntGoldProds           0.000000
NumDealsPurchases      0.000000
NumWebPurchases        0.000000
NumCatalogPurchases    0.000000
NumStorePurchases      0.000000
NumWebVisitsMonth      0.000000
AcceptedCmp3           0.000000
AcceptedCmp4           0.000000
AcceptedCmp5           0.000000
AcceptedCmp1           0.000000
AcceptedCmp2           0.000000
Complain               0.000000
Response               0.000000
dtype: float64

In [7]:
data['Income'] = data['Income'].fillna(data['Income'].mean())
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Response             2240 non-null   int64
dtypes: float64(1), int64(23), object(3)
memory usage: 472.6+ KB

### 4. Check if there are any duplicate records in the dataset? If any drop them.

In [8]:
data.duplicated().sum()
#no duplicates

0

### 5. Drop the columns which you think redundant for the analysis

In [12]:
data.columns

Index(['Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts',
       'MntFishProducts', 'MntSweetProducts', 'MntGoldProds',
       'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases',
       'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3',
       'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2',
       'Complain', 'Response'],
      dtype='object')

In [13]:
data.head()

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,1957,Graduation,Single,58138.0,0,0,58,635,88,546,...,10,4,7,0,0,0,0,0,0,1
1,1954,Graduation,Single,46344.0,1,1,38,11,1,6,...,1,2,5,0,0,0,0,0,0,0
2,1965,Graduation,Together,71613.0,0,0,26,426,49,127,...,2,10,4,0,0,0,0,0,0,0
3,1984,Graduation,Together,26646.0,1,0,26,11,4,20,...,0,4,6,0,0,0,0,0,0,0
4,1981,PhD,Married,58293.0,1,0,94,173,43,118,...,3,6,5,0,0,0,0,0,0,0

### 6. Check the unique categories in the column 'Marital_Status'
- i) Group categories 'Married', 'Together' as 'relationship'
- ii) Group categories 'Divorced', 'Widow', 'Alone', 'YOLO', and 'Absurd' as 'Single'.

In [22]:
data['Marital_Status'].unique()

array(['Single', 'relationship', 'YOLO'], dtype=object)

In [23]:
data['Marital_Status'] = data['Marital_Status'].replace(['Divorced', 'Widow', 'Alone', 'YOLO'
       'Absurd'], 'Single')

In [24]:
data['Marital_Status'] = data['Marital_Status'].replace(['Married', 'Together'], 'relationship')

In [25]:
data['Marital_Status'].value_counts()

relationship    1444
Single           794
YOLO               2
Name: Marital_Status, dtype: int64

### 7. Group the columns 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', and 'MntGoldProds' as 'Total_Expenses'

In [26]:
data['Total_Expenses'] = data[ 'MntWines'] + data[ 'MntFruits'] + data [ 'MntMeatProducts'] + data [ 'MntFishProducts'] + data ['MntSweetProducts'] + data['MntGoldProds']

### 8. Group the columns 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', and 'NumDealsPurchases' as 'Num_Total_Purchases'

In [28]:
data[ 'Num_Total_Purchases'] = data['NumWebPurchases'] + data [ 'NumCatalogPurchases'] + data [ 'NumStorePurchases'] + data ['NumDealsPurchases']

### 9. Group the columns 'Kidhome' and 'Teenhome' as 'Kids'

In [29]:
data[ 'Kids'] = data ['Kidhome'] + data ['Teenhome']

### 10. Group columns 'AcceptedCmp1 , 2 , 3 , 4, 5' and 'Response' as 'TotalAcceptedCmp'

In [30]:
data ['TotalAcceptedCmp'] = data ['AcceptedCmp1'] + data ['AcceptedCmp2'] + data ['AcceptedCmp3'] + data ['AcceptedCmp4'] + data ['AcceptedCmp5'] + data ['Response']

### 11. Drop those columns which we have used above for obtaining new features

In [40]:
col_del = ['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'Response', 'NumWebVisitsMonth','Kidhome', 'Teenhome', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebPurchases', 'MntSweetProducts', 'Num_Total_Purchases']
data = data.drop(columns = col_del, axis = 1)

KeyError: "['AcceptedCmp1' 'AcceptedCmp2' 'AcceptedCmp3' 'AcceptedCmp4'\n 'AcceptedCmp5' 'Response' 'NumWebVisitsMonth' 'Kidhome' 'Teenhome'\n 'MntWines' 'MntFruits' 'MntMeatProducts' 'MntFishProducts' 'MntGoldProds'\n 'NumDealsPurchases' 'NumCatalogPurchases' 'NumStorePurchases'\n 'NumWebPurchases'] not found in axis"

In [42]:
data.columns

Index(['Year_Birth', 'Education', 'Marital_Status', 'Income', 'Recency',
       'MntSweetProducts', 'Complain', 'Total_Expenses', 'Num_Total_Purchases',
       'Kids', 'TotalAcceptedCmp'],
      dtype='object')

In [43]:
col_del = ['MntSweetProducts', 'Num_Total_Purchases']
data = data.drop(columns=col_del, axis=1)

In [44]:
data.head()

,Year_Birth,Education,Marital_Status,Income,Recency,Complain,Total_Expenses,Kids,TotalAcceptedCmp
0,1957,Graduation,Single,58138.0,58,0,1617,0,1
1,1954,Graduation,Single,46344.0,38,0,27,2,0
2,1965,Graduation,relationship,71613.0,26,0,776,0,0
3,1984,Graduation,relationship,26646.0,26,0,53,1,0
4,1981,PhD,relationship,58293.0,94,0,422,1,0

### 12. Extract 'age' using the column 'Year_Birth' and then drop the column 'Year_birth'

In [45]:
def conv(x):
    l=[]
    l=2022-x
    return l
data['age'] = data['Year_Birth'].apply(conv)

In [46]:
data['age']

0       65
1       68
2       57
3       38
4       41
        ..
2235    55
2236    76
2237    41
2238    66
2239    68
Name: age, Length: 2240, dtype: int64

### 13. Encode the categorical variables in the dataset

In [47]:
data.select_dtypes('object').columns

Index(['Education', 'Marital_Status'], dtype='object')

In [74]:
from sklearn.preprocessing import LabelEncoder
for col in ['Education', 'Marital_Status']:
    le=LabelEncoder()
    data[col] = le.fit_transform(data[col])

### 14. Standardize the columns, so that values are in a particular range

In [49]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [50]:
ds = data.select_dtypes(include = ['int', 'float'])
scaler = StandardScaler()
scaler.fit(ds)
scaled_ds = pd.DataFrame(scaler.transform(ds), columns = ds.columns)
print("all features are now scaled")

all features are now scaled

In [51]:
scaled_ds

        Income
0     0.235327
1    -0.235826
2     0.773633
3    -1.022732
4     0.241519
...        ...
2235  0.358568
2236  0.470064
2237  0.189106
2238  0.679035
2239  0.024838

[2240 rows x 1 columns]

### 15. Apply PCA on the above dataset and determine the number of PCA components to be used so that 90-95% of the variance in data is explained by the same.

In [75]:
#step 1: calculate the covariance matrix
import numpy as np
cov_matrix = np.cov(scaled_features.T)
cov_matrix

NameError: name 'scaled_features' is not defined

In [79]:
#step 2: calculate the eigen values and eigen vectors
eig_vals, eig_vactors = np.linalg.eig(cov_matrix)
print("eigen vals:", '\n', eig_vals )
print('\n')
print("eigen vectors:", '\n', eig_vectors)

NameError: name 'cov_matrix' is not defined

In [77]:
# step 3: scree plot
total = sum(eig_vals)
var_exp = [(i/total)*100 for i in sorted(eig_vals, reverse = True)]
cum_var_exp = np.cumsum(var_exp)
print("explained variance:", var_exp)
print("cummulative variance explained:", cum_var_exp)

NameError: name 'eig_vals' is not defined

In [56]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [78]:
plt.bar(range(10), var_exp, align = 'center', color = 'lightgreen', edgecolor = 'black', label = 'explained variance')
plt.step(range(10), cum_var_exp, where = 'mid', color = 'red', label = 'cumulative explained variance')
plt.x_label('Principal components')
plt.y_label("explained variance ratio")
plt.title('scree plot')
plt.legend(loc = 'best')
plt.show()

NameError: name 'var_exp' is not defined

### 16. Apply K-means clustering and segment the data (Use PCA transformed data for clustering)

In [ ]:
pca = PCA(n_components = 8)
pca_data = pd.DataFrame(pca.fit_transform(scaled_features_df), columns = ['PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7', 'PC8'])
pca_data.head()

In [ ]:
cluster_errors = []
cluster_range = range(2, 15)
for num_cluster in cluster_range:
    clusters = KMeans(num_clusters,random_state = 100)
    cluster.fit(pca_data)
    cluster_errors.append(clusters.inertia_)

In [ ]:
 
cluster_data = pd.DataFrame({'num_clusters': cluster_range, 'cluster_errors': cluster_errors})
#elbow plot
plt.figure(figsize = [15, 5])
plt.plot(cluster_data['num_clusters'], cluster_data['cluster_errors'], marker = 'o', color = 'b' )
plt.show()

In [ ]:
# apllying k means clustering  for the optimal number of clusters obrtained above
kmeans = KMeans(n_clusters = 3, random_state = 100)
kmeans.fit(pca_data)

In [ ]:
#creating the data frame of the labels 
label = pd.DataFrame = (kmeans.labels_, columns = ['Label'])

### 17. Apply Agglomerative clustering and segment the data (Use Original data for clustering), and perform cluster analysis by doing bivariate analysis between the cluster label and different features and write your observations.

In [ ]:
plt.figure(figsize[18, 5])
merg = linkage(scaled_features, method = 'ward')
dendrogram(merg, leaf_rotation = 90)
plt.x_label('dataPoints')
plt.y_label('euclidean distance')
plt.show()

In [66]:
from sklearn.metrics import silhouette_score

In [ ]:
for i in range(2, 15) :
    hier = AgglomerativeClustering(n_clusters = i)
    hier = hier.fit(scaled_features_data)
    labels = hier.fit_predict(scaled_features_data)
    print(i,silhouette_score(scaled_features_data, labels) )

In [ ]:
# building hierarichical clustering models using optimal clusters as 3 using original data
hie_cluster = AgglomerativeClustering(n_clusters = 3, affinity = 'euclidean', linkage = 'ward' )
hie_cluster = hie_cluster.fit(scaled_features_data)

In [ ]:
# creating a dataframe of the labels
df_label1 = pd.DataFrame(hie_cluster_model_labels_, columns = ['Labels'])

In [ ]:
# joining the label dataframe with unscaled initial cleaned dataframe

df_hier = dfc.join(df_label1)

### Visualization and Interpretation of results

-----
## Happy Learning
-----